<div>
    <profile-employee-detail></profile-employee-detail>
</div>
<mat-tab-group>
    <mat-tab label="Skills">
        <div style="display: flex;">
            <mat-card mat-card-title="Skills" style="width: 50%">
                <skill-list mat-card-content></skill-list>
            </mat-card>
            <div style="width: 50%">
                <selected-skill-list></selected-skill-list>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Certifications">
        <cert-list></cert-list>
    </mat-tab>
</mat-tab-group>




