<div class="list-container">
    <mat-card-title>Current Skills</mat-card-title>
    <mat-card-content>
      <button [disabled]="selectedSkillIds.length == 0" (click)="removeSkills()" mat-button color="primary">Remove Skills</button>
      <div class="filter-group">
      <mat-form-field>
          <mat-select placeholder="Solution" multiple [(value)]="selectedSolutionIds" (selectionChange)="filterSkills()">
            <mat-option *ngFor="let solution of solutions" value="{{solution.id}}">
              {{solution.name}}
            </mat-option>
          </mat-select>
        </mat-form-field> 
        <mat-form-field>
          <mat-select placeholder="Skill Type" multiple [(value)]="selectedTypeIds" (selectionChange)="filterSkills()">
            <mat-option *ngFor="let type of filteredSkillTypes" value="{{type.id}}">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field> 
        <mat-form-field >
          <input matInput (input)="searchSkills($event.target.value)" placeholder="Search for a Skill">
        </mat-form-field>
      </div> 
      <mat-card class="selection-list">
        <mat-card-content>
          <mat-selection-list [(ngModel)]="selectedSkillIds">
            <mat-list-option *ngFor="let skill of filteredSkills" value={{skill.employeeSkillId}}>
                {{skill.skillName}}
            </mat-list-option>
          </mat-selection-list>   
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </div>
